{% extends 'index_base.html' %}
{% block index %}
<div class="index">
    <div id="index_content" class="base_body_margin both_layout_content">
        {% if post_dic|length == 0 %}
        <!-- 아직 게시물이 없을 경우-->
        <div class="empty_content">
            <span class="empty_txt">친구를 추가하고 첫 게시물을 작성해보세요!</span>
            <img class="empty_img" src="../static/img/notes_gray.png" alt="notes">
        </div>
        {% else %}
            {% include 'post.html' %}
        {% endif %}
    </div>
    <div id="index_friend_list" class="both_layout_friend">
        <div id="index_friend_container" class="friend_container">
            <div class="friend_container_header">
                <h3>친구 목록</h3>
                {% if session['ide'] == session['nickname'] %}
                <a href="/friend" id="view_more">더보기</a>
                {% endif %}
            </div>
            {% for user in friend_dic %}
                <div class="user_list">
                    <a href="/user/{{friend_dic[user]['nickname']}}">
                        <img src="{{ friend_dic[user]['profile_img'][1] }}" alt="" class="search_user_image">
                    </a>
                    <div class="user_list_name_area">
                        <a class="user_nickname" href="/user/{{friend_dic[user]['nickname']}}">
                            {{ friend_dic[user]['nickname'] }}
                        </a>
                        <div class="user_name">
                            {{ friend_dic[user]['user_name'] }}
                        </div>
                    </div>
                </div> 
            {% endfor %}
        </div>
    </div>
</div>
<script src="../static/js/index.js" defer="defer"></script>
<script type = 'module' src="../static/js/post.js" defer="defer"></script>
{% endblock %}
