{% extends 'login_base.html' %}
{% block login %}
<div>
    <form method="POST" action="">
        <div>
            <h4>ID</h4>
            <input type="id" placeholder="ID" name='user_id' class="login_base_input_box user_icon" required>
        </div>
        <div>
            <h4>Password</h4>
            <input type="password" placeholder="Password" name='password' class="login_base_input_box lock_icon" required >
        </div>
        <div>
            <span>비밀번호를 잊으셨나요?</span>
            <a href="/password_reset">비밀번호 재설정</a>
        </div>
        <div>
            <span>회원가입 하기</span>
            <a href="/join" class="login_join_button">Join</a>
        </div>
        <div  class="login_base_button">
            <button type="submit" id="login_btn">
                Log in
            </button>
        </div>
    </form>
</div>
{% endblock %}

