{% extends 'login_base.html' %}
{% block password_reset %}
<div class="pw_reset_container">
    <!-- 인증번호 발송 -->
    <div id="email_send_container" class="">
        <div id="certification_send" class="send_email">
            <h4>E-mail 인증</h4>
            {% if session['send_email'] != null %}
            <input type="email" id="send_email" name='email' class="login_base_input_box email_icon" value="{{ session['send_email'] }}" required>
            {% else %}
            <input type="email" placeholder="Email" id="send_email" name='email' class="login_base_input_box email_icon" required>
            {% endif %}
        </div>
        <div class="send_btn">
            <button type="button" id="send_email_btn" class="certification_btn" name="email">인증번호 발송</button>
            <!-- 인증 유효 시간 -->
            <div id="count_down"></div>
        </div>
        <!-- 인증번호 입력 및 제출 -->
        <div id="certification_submit">
            <input type="text" placeholder="인증 번호 입력" name="input_num" id="input_num" class="certification_num" required>
            <button type="button" name="input_num_submit" id="input_num_submit" class="certification_btn submit" num-data="{{ session['certification_num'] }}">
                인증번호 확인
            </button>
        </div>
    </div>
    <!-- 인증번호 일치 여부 (img. text) -->
    <div class="certification_status">
        <img src="../static/img/protection.png" alt="" class="certification_img">
        <span id="certification_text" class="certification_text">발급된 인증번호를 확인해주세요.</span>
    </div>
    <!-- 비밀번호 변경 -->
    <form action="/check_password" method="POST" id="password_reset" class="none">
        <div>
            <h4>새로운 Password</h4>
            <input type="password" placeholder="Password" id="pw" name='password' class="login_base_input_box lock_icon" required>
        </div>
        <div id="reset_pw2">
            <h4>Password 재확인</h4>
            <input type="password" placeholder="Password" id="pw2" name='password2' class="login_base_input_box lock_icon" required>
        </div>
        <span class="password_rule">비밀번호는 8자리 이상의 영문(대/소문자),<br>숫자를 포함시켜주세요.</span>
        <div class="login_base_button">
            <button type="submit" id="change_pw_btn">비밀번호 변경</button>
        </div>
    </form>
</div>
<script type="module" src="../static/js/password_reset.js" defer="defer"></script>
<script type="module" src="../static/js/check_password.js"></script>
{% endblock %}