{% extends 'index_base.html' %}
{% block setting %}
<div class="setting">
    <h2>설정</h2>
</div>
<div class="setting_upper_container">
    <div class="setting_container">
        <div class="setting_nav">
            <button id="profile_setting_btn" class="setting_nav_btn nav_btn_focus">프로필 편집</button>
            <button id="account_setting_btn" class="setting_nav_btn">계정</button>
        </div>
        <div class="setting_area">
            <div class="setting_nav2" id="profile_setting">
                <form action="/setting" method="post" class="change_profile_image" name="setting_form_profile" enctype="multipart/form-data">
                    <p class="setting_header">프로필 사진 변경</p>
                    <div class="profile_image_box" id="profile_image">
                        <!-- setting.js readURL -->
                        <!-- <img src="data:image/png;base64, {{session_user['profile_img']}}" alt="" class="profile_img"> -->
                        <img src="{{session_user['profile_img'][1]}}" alt="" class="profile_img">
                    </div>
                    <p id="setting_ide">{{ session['ide'] }}</p>
                    <p id="setting_name">{{ session['name'] }}</p>
                    <input type="file" id="profile_image_input" class="none" name="setting_input_profile">
                    <label for="profile_image_input" class="setting_label">파일 선택</label>
                    <button type="submit" class="setting_submit_btn" name="setting_button_profile">프로필 사진 저장</button>
                </form>
                <form action="/setting" method="post" class="change_background_image" name="setting_form_background" enctype="multipart/form-data">
                    <p class="setting_header">배경 사진 변경</p>
                    <!-- setting.js readURL -->
                    <!-- 기존에 설정해둔 이미지 표시 -->
                    <img src="{{session_user['background_img'][1]}}" alt="" class="background_img">
                    <input type="file" id="background_image_input" class="none" name="setting_input_background">
                    <label for="background_image_input" class="setting_label">파일 선택</label>
                    <button type="submit" class="setting_submit_btn" name="setting_button_background">배경 사진 저장</button>
                </form>
                <form action="/setting" method="post" name="setting_form_ide">
                    <p class="setting_header">닉네임 변경</p>
                    <input id="input_nickname" type="text" placeholder="새로운 닉네임" name="setting_input_ide" data-nickname_list="{{nickname_list}}">
                    <p class="nickname_check"></p>
                    <button type="button" class="setting_label check_btn">중복 검사</button>
                    <button type="submit" class="setting_submit_btn nickname_submit" name="setting_button_ide" disabled>닉네임 저장</button>
                </form>
                <form action="/setting" method="post" name="setting_form_bio">
                    <p class="setting_header">소개글 수정</p>
                    {% if session_user['bio'] == none %}
                    <!-- 작성된 내용이 없을 경우 -->
                    <textarea id="setting_bio" type="text" name="setting_input_bio" placeholder="새로운 소개글"></textarea>
                    {% else %}
                    <textarea id="setting_bio" type="text" name="setting_input_bio">{{ session_user['bio'] }}</textarea>
                    {% endif %}
                    <button type="submit" class="setting_submit_btn" name="setting_button_bio">소개글 저장</button>
                </form>
            </div>
            <div class="setting_nav2 none" id="account_setting">
                <div id="change_name" class="both_layout">
                    <p class="setting_header">사용자 이름 변경</p>
                    <form action="/setting" method="post" name="setting_form_name" class="account_form">
                        <input type="text" placeholder="새로운 이름" id="setting_id" name='setting_input_name'>
                        <button type="submit" id="setting_id_submit" class="setting_submit_btn" name='setting_button_name'>사용자 이름 저장</button>
                    </form>
                </div>
                <div class="both_layout">
                    <p class="setting_header">비밀번호 변경</p>
                    <div class="change_pw">
                        <div id="origin_pw_check" class="account_form">
                            <input type="password" placeholder="기존 비밀번호" id="origin_pw" name='origin_password' class="">
                            <span class="wrong_origin_pw none">비밀번호가 다릅니다</span>
                            <button type="submit" id="origin_pw_btn" class="origin_pw_btn" name='origin_pw_btn'>비밀번호 확인</button>
                        </div>
                        <form action="/check_password" method="post" name="setting_form_pw" id="setting_pw_form" class="account_form opacity">
                            <input type="password" placeholder="새로운 비밀번호" id="pw" name='password' class="lock_icon" disabled>
                            <input type="password" placeholder="새로운 비밀번호 확인" id="pw2" name='password2' class="lock_icon" disabled>
                            <span class="password_rule">비밀번호는 8자리 이상의 영문(대/소문자), 숫자를 포함시켜주세요.</span>
                            <button type="submit" id="change_pw_btn" class="setting_submit_btn" name='setting_button_pw' disabled>비밀번호 저장</button>
                        </form>
                    </div>
                </div>
                <div class="account_container">
                    <button id="setting_logout">로그아웃</button>
                    <div>
                        <p class="withdrawal">탈퇴</p>
                        <div class="more_icon_popup_back none">
                            <div class="more_icon_popup withdrawal_container">
                                <p class="withdrawal_info">
                                    회원님의 개인정보 및 작성 된 게시물, 활동과 관련된 모든 정보는<br>
                                    탈퇴 즉시 파기되며 복구할 수 없습니다.
                                </p>
                                <div class="withdrawal_info2">
                                    <p id="warning" class="">정말로 탈퇴를 진행하시겠습니까?</p>
                                    <div class="withdrawal_button">
                                        <button id="withdrawal_cancel_btn" class="withdrawal_btn">취소</button>
                                        <button id="withdrawal_btn" class="withdrawal_btn">확인</button>
                                    </div>
                                </div>
                                <div class="withdrawal_step">
                                    <p>개인정보 보호를 위해 아래의 인증 절차를 진행해주세요.</p>
                                    <input type="text" class="withdrawal_input idpw" id="user_id" placeholder="ID">
                                    <input type="password" class="withdrawal_input idpw" id="user_password" placeholder="Password">
                                    <div style="display: flex;">
                                        <p style="padding-right: 5px;">상기 내용을 확인하였으며,</p><p style="color: #0084ff;">탈퇴를 진행합니다.</p>
                                    </div>
                                    <input type="text" class="withdrawal_input txt" id="confirm" placeholder="파란 글씨에 해당하는 부분을 입력해주세요.">
                                    <div class="withdrawal_button">
                                        <button id="withdrawal_cancel_btn" class="withdrawal_btn" type='button'>취소</button>
                                        <button id="withdrawal_submit" class="withdrawal_btn" type="submit">확인</button>
                                    </div>
                                </div>
                                <!-- <div class="delay_animation"></div> -->
                                <div class="withdrawal_complete">
                                    <p>탈퇴가 정상적으로 완료되었습니다.</p>
                                    <p>그동안 서비스를 이용해주셔서 감사합니다.</p>
                                    <p id="move_login">잠시 후 로그인 페이지로 이동</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="setting_version">버전 정보 Ver 1.0</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="../static/js/setting.js" defer="defer"></script>
<script type="module" src="../static/js/check_password.js"></script>
{% endblock %}