{% extends 'index_base.html' %}
{% block user %}
<div class="user_container">
    <img src="{{ user['background_img'][1] }}" alt="" class="user_background">
    <div class="background_parallax"></div>
    <div class="user_profile">
        <div class="profile_container">
            <img src="{{ user['profile_img'][1] }}" alt="" class="profile_image">            
            <div class="information_container">
                <div class="user_information">
                    <div class="user_name_friend">
                        <h2>{{user['nickname']}}</h2>
                        <div class="user_frined_count">
                            친구 {{user['friend_list']|length}}명
                        </div>
                    </div>
                    <div id="request_button" class="user_friend_button">
                        {% if session['nickname'] != user['nickname'] %}
                            {% if user['user_id'] not in session_friend_list %}   
                                <button class="request_btn" user = "{{user['user_id']}}" friend_list = "{{ session_request_list }}"\
                                    value = 'not friend' data-name='{{session["login"]}}'></button>
                            {% else %}
                                <button class="request_btn" user = "{{user['user_id']}}" friend_list = "{{session_friend_list}}"\
                                     value = 'friend' data-name='{{session["login"]}}'>친구 삭제</button>                                
                            {% endif %}
                        <!-- 세션 로그인 유저일 경우 setting 이동 버튼 표시 -->
                        {% else%}
                            <a href="/setting" class="user_setting_btn">
                                <img src="../static/img/setting.png" alt="" class="top_bar_icon">
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="user_introduce">
                    <p>소개</p>
                    <!-- 작성된 내용이 없을 경우 -->
                    {% if user['bio'] == none %}
                        <textarea class="user_introduce_text" readonly></textarea>
                    {% else %}
                        <textarea class="user_introduce_text" readonly>{{ user['bio'] }}</textarea>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="both_layout user">
            <div class="both_layout_friend user_friend_list">
                <div class="friend_container_header">
                    <h3>친구 목록</h3>
                    {% if session['nickname'] == user['nickname'] %}
                    <a href="/friend" id="view_more">더보기</a>
                    {% else %}
                    <!-- 세션 유저가 아닌 사용자의 user 페이지 친구 목록 -->
                    <button class="other_user_friend">더보기</button>
                    <!-- 친구 목록 팝업창 -->
                    <div class="more_icon_popup_back none">
                        <div class="more_icon_popup popup_friend">
                            <div class="popup_friend_header">
                                <div>친구 목록</div>
                                <img id="popup_friend_close" class="top_bar_icon" src="../static/img/close.png" alt="close_icon">
                            </div>
                            <div style="overflow: auto;">
                                {% for friend in friend_dic %}
                                <div class="popup_friend_list"> 
                                    <a href="/user/{{friend_dic[friend]['nickname']}}">
                                        <img src="{{friend_dic[friend]['profile_img'][1] }}" class="user_profile_img">
                                    </a>
                                    <div class="user_list_name_area">
                                        <a class="user_nickname" href ="/user/{{friend_dic[friend]['nickname']}}">
                                            {{ friend_dic[friend]['nickname'] }}
                                        </a>
                                        <div class="user_name">
                                            {{ friend_dic[friend]['user_name'] }}
                                        </div>
                                    </div>
                                </div> 
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if session['nickname'] == user['nickname'] and friend_dic|length == 0 %}
                <span id="user_friend_empty_txt" class="empty_txt">친구를 검색하고 추가해보세요!</span>
                {% else %}
                    {% for friend in friend_dic %}
                    <div class="user_list"> 
                        <a href="/user/{{friend_dic[friend]['nickname']}}">
                            <img src="{{friend_dic[friend]['profile_img'][1] }}" class="user_profile_img">
                        </a>
                        <div class="user_list_name_area">
                            <a class="user_nickname" href ="/user/{{friend_dic[friend]['nickname']}}">
                                {{friend_dic[friend]['nickname']}}
                            </a>
                            <div class="user_name">
                                {{ friend_dic[friend]['user_name'] }}
                            </div>
                        </div>
                    </div> 
                    {% endfor %}
                {% endif %}
            </div>
            <div class="both_layout_content user_content">
                {% if session['nickname'] == user['nickname'] %}
                    <div class="user_create_content">
                        <div class="user_create_content_header">
                            <div class="user_img_nickname comment">
                                <img src="{{ user['profile_img'][1] }}" alt="" class="content_profile_image">            
                                <span class="content_nickname">{{user['nickname']}}</span>
                            </div>
                            <img src="../static/img/camera.png" alt="" class="create_content_icon" onclick="plus();">
                        </div>
                        <button type="button" class="create_content_btn" onclick="plus();">새로운 게시물 작성하기</button>
                    </div>
                {% endif %}
                <!-- user content -->
                {% include 'post.html' %}
            </div>
        </div>
    </div>
</div>
<script src="../static/js/user.js" defer="defer"></script>
<script src="../static/js/create_content.js" defer="defer"></script>
<script src="../static/js/lazyLoad.js" defer="defer"></script>
<script type="module" src="../static/js/time_information.js" defer="defer"></script>
<script type="module" src="../static/js/post.js" defer="defer"></script>
{% endblock %}